	<div class="container">
	   <footer>
	      <div class="row"><center>
	      	<span class="nowrap"><strong>Users in World:</strong> <!-- #get var=UsersInworld --></span> &nbsp;&nbsp;&nbsp;&nbsp;
		    <span class="nowrap"><strong>Regions:</strong> <!-- #get var=RegionsTotal --></span> &nbsp;&nbsp;&nbsp;&nbsp;
		    <span class="nowrap"><strong>Total Users:</strong> <!-- #get var=UsersTotal --></span> &nbsp;&nbsp;&nbsp;&nbsp;
		    <span class="nowrap"><strong>Active Users (Last <!-- #get var=UsersActivePeriod --> Days):</strong> <!-- #get var=UsersActive --></span></center>
	      	<div class="col-lg-12">
	      <center>
	      <p><strong>LoginURI:</strong> <span class="textlogo"><!-- #get var=LoginURL --></span></p>
	      <p><span class="textlogo"><a href="/wifi/termsofservice.html">Terms of Service</a></span></p>
          <!-- The following is not enabled by default because this information -->
          <!-- could be used to target attacks to known weaknesses.             -->
          <!-- If you want to display this information anyway, then delete the  -->
          <!-- spaces between "#" and "get".                                    -->
	      <strong><!-- #get var=Version --> <!-- #get var=RuntimeInfo --></strong>
	      <p>Web design &copy; <a href="http://zetamex.com/" target="_blank">Zetamex</a> and Built With <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>. 
                 Distributed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative&nbsp;Commons</a>.</p>
          <a href="http://opensimulator.org" target="_blank"><img class="logo" src="/wifi/images/PoweredByOS.png"></a>
          	</div>
          </div>
	    </footer>
	</div>