  <tr class="bodytext">
    <td><!-- #get field=groupName --> </td>
    <td><!-- #get field=members --></td>
    <td><a href="/wifi/admin/groups/edit/<!-- #get field=groupID -->">edit</a></td>
    <td><a href="/wifi/admin/groups/delete/<!-- #get field=groupID -->">delete</a></td>
  </tr>

  <!-- Recursion ! -->
  <!-- #include file=grouplistitem.html -->
