<br />
<h3>Are you sure you want to delete group <!-- #get field=GroupName --> ?</h3>
  <form action="/wifi/admin/groups/delete/<!-- #get field=GroupID-->" method="post">
   <input type="hidden" name="form" value="1">
   <p class="bodytext"> 
     <input type="submit" value="Confirm Delete" class="btn btn-danger" />
  </p>
  </form>
