<script src="/wifi/scripts/sorttable.js" type="text/javascript"></script>

<br />

<h1>Groups</h1>

<input type="hidden" name="text" value="Sort rows">
<table id="groups" class="table table-condensed">
  <thead>
    <tr class="bodytext">
      <th>Name</th>
      <th>Members</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <!-- #include file=grouplistitem.html -->
  </tbody>
</table>
