<br />
<h3>Manage Group</h3>
<form action="/wifi/admin/groups/edit/<!-- #get field=GroupID-->" method="post">
  <p class="bodytext"> 
    <strong>Name</strong><br/>
    <input name="name" type="text" value="<!-- #get field=GroupName-->" placeholder="<!-- #get field=GroupName-->" class="form-control" /><br/><br/>
    <strong>Charter</strong><br/>
    <input name="charter" type="text" value="<!-- #get field=Charter-->" placeholder="<!-- #get field=Charter-->" class="form-control" /><br/><br/>
    <input type="submit" value="update" class="btn btn-default" />
  </p>
</form>


