<script src="/wifi/scripts/inventorylist.js" type="text/javascript"></script>
<script src="/wifi/scripts/forms.js" type="text/javascript"></script>

<!-- #call method=GetIARTransfers -->

<form id="inventory" action="/wifi/user/inventory" method="post" >
  <p>
    <select name="folder">
      <!-- #call method=GetFolders-->
    </select>
    <input type="submit" name="action-new" value="&lsaquo;&ndash; new folder" class="btn btn-default" /> 
    <input type="text" name="newFolderName" class="inputstyle" /> 
  </p>
  <p>
    <input type="submit" name="action-move" value="&darr; move to &uarr;" class="btn btn-default" />
    <span id="loading" class="white">Preparing inventory <img src="/wifi/images/loader.gif" /></span>
    <span id="settings">
      <span class="nowrap"><input type="checkbox" class="checkbox" name="sort" onclick="ChangedOption(this.name)" checked="checked"> Sort alphabetically</span>
      <span class="nowrap"><input type="checkbox" class="checkbox" name="topfolders" onclick="ChangedOption(this.name)" checked="checked"> Sort folders to top</span>
    </span>
  </p>

  <!-- #include file=inventorylistitem.html -->

  <p>
    <input type="submit" name="action-delete" value="&uarr; delete" class="btn btn-default" />
  </p>
</form>
