  <tr class="bodytext">
    <td><!-- #get var=RegionAddress --></td>
    <td><!-- #get var=RegionLocX --></td>
    <td><!-- #get var=RegionLocY --></td>
    <td><!-- #get var=RegionOwner --></td>
    <td><!-- #call method=GetHyperlinkCommands --></td>
  </tr>

  <!-- Recursion ! -->
  <!-- #include file=linkregionitem.html -->
