<br />
  <!-- #call method=GetHyperlinks --> 

  <form id="hyperlinkform" action="/wifi/linkregion/add" method="post">
  <p>
    <p class="bodytext">
      <strong>Region Address</strong><br/>
      <input name="address" type="text" class="form-control" tabindex="1" />&nbsp;&nbsp;<a href="http://opensimulator.org/wiki/Installing_and_Running_Hypergrid#Linking_regions_.28Optional.29" tabindex="1000" target="_blank">Syntax Help</a>
    </p>
    <p class="bodytext">
      <strong>Location X</strong><br/>
      <input name="xloc" type="text" class="form-control" tabindex="2" />
    </p>
    <p class="bodytext">
      <strong>Location Y</strong><br/>
      <input name="yloc" type="text" class="form-control" tabindex="3" />
    </p>
    <p>
      <input type="submit" value="add" class="btn btn-default" />
    </p>
  </p>
  </form>
