<br />
<script src="/wifi/scripts/sorttable.js" type="text/javascript"></script>

  <h1>Linked Regions</h1>
  
  <input type="hidden" name="text" value="Sort rows">
  <table id="hyperlinks" class="table table-condensed">
    <thead>
      <tr class="bodytext">
        <th>Address</th>
        <th>X</th>
        <th>Y</th>
        <th>Owner</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- #include file=linkregionitem.html -->
    </tbody>
  </table>
