<br />
  <h3>Are you sure you want to delete region link <!-- #get var=RegionAddress --> owned by <!-- #get var=RegionOwner -->?</h3>
  <form action="/wifi/linkregion/delete/<!-- #get var=RegionID-->" method="post">
    <p><input type="submit" value="Confirm Delete" class="btn btn-danger" /></p>
  </form>
