<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
      <div id="subscribe">
        <form action="/wifi/login" method="post">
          <input name="METHOD" type="hidden" value="login" class="form-control" />
          <input name="firstname" type="text" placeholder="FIRST NAME" class="form-control" /><br />
          <input name="lastname" type="text" placeholder="LAST NAME" class="form-control" /><br />
          <input name="password" type="password" placeholder="YOUR PASSWORD" class="form-control" /><br />
          <center><input type="submit" value="login" class="btn btn-default" /></center>
        </form>
          <br />
        <form action="<!-- #get var=WebAddress -->/wifi/forgotpassword" method="get">
         <center><input type="submit" value="forgot password" class="btn btn-default" /></center>
        </form>

      </div>
    </div>
  </div>
</div>
