            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/wifi/index.html">Home</a>
                    </li>
                    <li><a href="/wifi/user/account/edit">Edit Account</a>
                    </li>
                    <li><a href="/wifi/user/loadinventory">Inventory</a>
                    </li>
                    <li><a href="/wifi/linkregion">Linked Regions</a>
                    </li>
                    <li><a href="/wifi/admin/users">Manage Accounts</a>
                    </li>
                    <li><a href="/wifi/admin/groups">Manage Groups</a>
                    </li>
                    <li><a href="/wifi/admin/console">Console</a>
                    </li>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>