            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/wifi/index.html">Home</a>
                    </li>
                    <li><a href="/wifi/user/account/">Create Account</a>
                    </li>
                    <li><a data-toggle="modal" data-target=".bs-example-modal-lg">Login</a>
                    </li>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

