<h1 class="page-header">Create New Account</h1>
  <form action="/wifi/user/account" method="post">
  <p class="bodytext"> 
    <input name="first" type="text" class="form-control" placeholder="First Name" /><br/><br/>
    <input name="last" type="text" class="form-control" placeholder="Last Name" /><br/><br/>
    <input name="email" type="text" class="form-control" placeholder="Email Address" /><br/><br/>
    <input name="password" type="password" class="form-control" placeholder="Password" /><br/><br/>
    <input name="password2" type="password" class="form-control" placeholder="Re-Enter Password" /><br/><br/>
    <!-- #include file=avatarselectitem.html -->

    <input type="submit" value="create" class="btn btn-default" />
  </p> 
  </form>

