  <tr class="bodytext">
    <td><!-- #get field=FirstName --> <!-- #get field=LastName --></td>
    <td><!-- #get field=Email --></td>
    <td><!-- #get field=UserTitle --></td>
    <td><!-- #get field=UserLevel --></td>
    <td>
      <script type="text/javascript">
        ConvertAndWriteDate("<!-- #call method=GetAccountCreated -->");
      </script>
      <noscript><!-- #call method=GetAccountCreated --></noscript>
    </td>
    <td><a href="/wifi/admin/users/edit/<!-- #get field=PrincipalID -->">edit</a></td>
    <td><a href="/wifi/admin/users/delete/<!-- #get field=PrincipalID -->">delete</a></td>
  </tr>

  <!-- Recursion ! -->
  <!-- #include file=userlistitem.html -->
