<br />
<h1 class="page-header">Your Account</h1>
  <form action="/wifi/user/account/<!--  #get field=PrincipalID -->" method="POST">
  <p class="bodytext"> 
    Email:<br/>
    <input name="email" type="text" value="<!-- #get field=Email -->" class="form-control" />
    <input type="submit" value="update" class="btn btn-default" />
  </p>
  </form>

<p>&nbsp;</p>

  <form action="/wifi/user/account/<!--  #get field=PrincipalID -->" method="POST">
  <p class="bodytext"> 
    Old password:<br/>
    <input name="oldpassword" type="password" class="form-control" /><br/><br/>
    New password:<br/>
    <input name="newpassword" type="password" class="form-control" /><br/><br/>
    Retype new password:<br/>
    <input name="newpassword2" type="password" class="form-control" />

    <input type="submit" value="update" class="btn btn-default" />
  </p>
  </form>
