<br />
<h3>Edit User</h3> <br/>
<form action="/wifi/admin/users/edit/<!-- #get field=PrincipalID-->" method="post">
  <p class="bodytext"> 
    <input type="hidden" name="form" value="1">
    <strong>First Name</strong><br/>
    <input name="first" type="text" value="<!-- #get field=FirstName-->" class="form-control" /><br/><br/>
    <strong>Last Name</strong><br/>
    <input name="last" type="text" value="<!-- #get field=LastName-->" class="form-control" /><br/><br/>
    <stong>Email</stong><br/>
    <input name="email" type="text" value="<!-- #get field=Email-->" class="form-control" /><br/><br/>
    <strong>Level</strong><br/>
    <input name="level" type="text" value="<!-- #get field=UserLevel-->" class="form-control" /><br/><br/>
    <strong>Flags</strong><br/>
    <input name="flags" type="text" value="<!-- #get field=UserFlags-->" class="form-control" /><br/><br/>
    <strong>Title</strong><br/>
    <input name="title" type="text" value="<!-- #get field=UserTitle-->" class="form-control" /><br />
    <input type="submit" value="update" class="btn btn-default" />
  </p>
</form>

<p>&nbsp;</p>

<form action="/wifi/admin/users/edit/<!-- #get field=PrincipalID-->" method="post">
  <p class="bodytext"> 
    <input type="hidden" name="form" value="2">
    Password:<br/>
    <input name="password" type="text" value="<on file>" class="form-control" />&nbsp; <br />
    <input type="submit" value="reset" class="btn btn-default" />
  </p>
</form>
