<br />
<script src="/wifi/scripts/sorttable.js" type="text/javascript"></script>

<h3>Accounts</h3>

<input type="hidden" name="text" value="Sort rows">
<table id="users" class="table table-condensed">
  <thead>
    <tr class="bodytext">
      <th>Name</th>
      <th>Email</th>
      <th>Title</th>
      <th>Level</th>
      <th>Created</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <!-- #include file=userlistitem.html -->
  </tbody>
</table>
