<br/>
<h3>Are you sure you want to delete account <!-- #get field=FirstName --> <!-- #get field=LastName -->?</h3>
  <form action="/wifi/admin/users/delete/<!-- #get field=PrincipalID-->" method="post">
   <input type="hidden" name="form" value="1">
   <p class="bodytext"> 
     <input type="submit" value="Confirm Delete" class="btn btn-danger" />
  </p>
  </form>
